<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="TigcalUtilsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".FlashlightActivity"
            android:icon="@mipmap/ic_fl_launcher"
            android:label="@string/app_flashlight"
            android:roundIcon="@mipmap/ic_fl_launcher_round"
            android:taskAffinity="com.tigcal.utils.flash"
            android:theme="@style/AppTheme.Flashlight.LaunchScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BatteryActivity"
            android:icon="@mipmap/ic_b_launcher"
            android:label="@string/app_battery"
            android:roundIcon="@mipmap/ic_b_launcher_round"
            android:taskAffinity="com.tigcal.utils.batt"
            android:theme="@style/AppTheme.Battery"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_header"
            android:theme="@style/AppTheme.Flashlight"
            android:parentActivityName=".FlashlightActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FlashlightActivity" />
        </activity>
    </application>

</manifest>
